<table>
	<div id="book_comment">
      <div class="table">
      <% book_comments.each do |book_comment| %>
	        <%= render 'book_comments/book_comment_index', book_comment: book_comment %>
		  </div>
      <% end %>
  </div>
</table>

<div class="comment-form">
  <%= form_with(model: [book, book_comment]) do |f| %>
    <%= f.text_area :comment, size: "90x5" %>
    <%= f.submit '送信'%>
  <% end %>
</div>